header{
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 1;
      width: 100%;
      height: 80px;
      margin-top: 0px;
      padding: 0px;
      background-color: white;
      font-family: Verdana;
      font-size: 14px;
      font-weight: bold;
      top: 0px;
}

body{
  margin: 0px;
   padding: 0px;
}

.logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}

.logo span {
  color: mediumaquamarine;

}

.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
}


nav{
padding-right: 40px;

}
header a{
  color:black;
}

.container{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  position: relative;
  top: 80px;
  margin: 20px 0px 120px 0px;
  padding: 40px 0px;

}
.column{

    position: relative;
    flex-flow: column wrap;


}

.column.large {
width: 630px;
padding-right: 20px;
}

.topimage span{
  padding-left: 20px;
}

.column.medium {
  width: 300px;
  padding-right: 20px;

}

.column.small {
  width: 240px;
}

h1{
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    border: solid black 1px;
}

.stories {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
    width: 630px;
  }

  .story {
    display: block;
    width: 300px;
}


.topimage{
  display: flex;
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
    margin-top: 0;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: Georgia;
    height: 300px;
    width: 629px;
    align-items: center;
}

.earth.image{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  height: 300px;
  width:  300px;
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  }

.words{
  display: block;
}

.no-image{
  display: block;
}

  .hipster.image{
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
    height: 300px;
    width:  300px;
    color: white;
    font-weight: bold;
    font-family: Georgia;
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .cats.image{
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
    height: 300px;
    width:  300px;
    color: white;
    font-weight: bold;
    font-family: Georgia;
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
  }

p{
font-family: Georgia;
font-size: 17px;
color: black;
}

h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.news-bites{
  display: flex;
  flex-flow: column; wrap;
  justify-content: center;
}

#first li{
background-color: WhiteSmoke;
font-family: Verdana;
font-size: 12px;
color: DimGray;
border-bottom: black 1px solid;
}

.news-bites ul{
  padding-left: 0px;
  margin-left: 0px;
  width: 240px;
}
.news-bites li{
background-color: WhiteSmoke;
font-family: Verdana;
font-size: 12px;
color: DimGray;
border-bottom: black 1px solid;
list-style: none;
padding: 7px 20px;

}

footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: MediumAquamarine;
margin: auto;
padding: 100px 400px;
font-family: Verdana;
font-size: 12px;
bottom: 0px;
}


.foot span{
  display: inline;
  flex-direction: row;
  font-family: Georgia;
  font-size: 16px;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

.foot{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

}
.foot ul{
  display: inline-flex;
  flex-flow: row nowrap;
}

.foot li{
  padding-right: 20px;
  list-style: none;
}

.foot a{
text-decoration: none;
text-decoration-line: underline;
color: black;
font-family: Verdana;
font-size: 12px;
}




#copyright {
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
}
