header{
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 1;
      width: 100%;
      height: 80px;
      border-bottom: 1px solid black;
      background-color: white;
      font-family: Verdana;
      font-size: 14px;
      font-weight: bold;
}

.logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
    border: 1px black solid;
}

.logo span {
  color: mediumaquamarine;

}

.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
}


nav{
padding-right: 40px;

}
nav a{
  color:black;
}

.container{
  display:flex;
  justify-content: space-around;
  position: relative;
  top: 80px;
  margin: 20px 20px;
  border: sold 1px black;

}
.column{
  display: flex;
    flex-direction: column;
    margin-right: 32px;
    border: 1px black solid;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

h1{
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    border: solid black 1px;
}

.stories {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

  }
  .story {
    display: block;
    width: 300px;
  }
  .story2 {

    margin-left: 20px;
    display: block;
    width: 300px;
  }

.image{
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
    width: 630px;
    margin-top: 0;
    font-size: 40px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-family: Georgia;
    height: 300px;
}

.earth.image{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  height: 300px;
  width:  300px;
  text-align: center;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 30px;
  display: block;
  }

.words{
  display: block;
}

.no-image{
  display: block;
}
  .hipster.image{
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
    height: 300px;
    width: 300px;
    text-align: center;
   display: block;
  }

  .cats.image{
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
    height: 300px;
    width: 300px;
  }

p{
  font-family: Georgia;
font-size: 17px;
color: black;
}

#mother{
  border: solid 1px black;
}

#orca{
  border: solid 1px black;
}

#burger{
  border: solid 1px black;
}

#fbi{
  border: solid 1px black;
}

#cat{
  border: solid 1px black;
}
